.component-form-wrapper {
  padding-top: 20px;
}

.form-field-row {
  padding-top: 12px;
}

.full-width {
  width: 100%;
}

md-spinner {
  float:right;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  margin-top: 5px;
}
