<div fxLayout="column" fxLayoutAlign="center" class="component-form-wrapper">
  <form [formGroup]="uploadDocumentForm">
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex>
        <md-input-container class="full-width font-size20">
          <input mdInput placeholder="{{ 'MEDICAL_DOCUMENTS.UPLOAD_MEDICAL_DOCUMENT.UPLOAD_FORM.FORM_FIELD_LABELS.DOCUMENT_NAME' | translate }}" formControlName="documentName">
        </md-input-container>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex>
        <md-input-container class="full-width font-size20">
          <input mdInput placeholder="{{ 'MEDICAL_DOCUMENTS.UPLOAD_MEDICAL_DOCUMENT.UPLOAD_FORM.FORM_FIELD_LABELS.DOCUMENT_TYPE_CODE' | translate }}" formControlName="documentTypeCodeId">
        </md-input-container>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" class="file-input-row">
      <div fxFlex>
        <input #fileInputElement type="file" >
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" class="form-buttons-row">
      <div fxFlex>
        <button md-raised-button color="primary" (click)="handleSubmit()">
          <strong>TEMP Submit</strong>
        </button>
      </div>
    </div>
  </form>
</div>
