.patient-cda-document-section-accordion {
  border: thin solid #94b9af;
  &:hover {
    border: 1px solid #448866;
  }
  div.md2-accordion-header {
    padding: 10px 15px;
    background-color: #b0d6cf;
    border: none !important;
    box-shadow: none !important;
    &:hover {
      background-color: #71cbb5;
    }
    md-card-title {
      margin-bottom: 0 !important;
    }
    .md2-accordion-header-icon {
      top: 24px !important;
      right: 25px !important;
      border-width: 0 4px 4px 0 !important;
    }
  }
}

.patient-cda-document-section-accordion {
  .md2-accordion-header {
    white-space: inherit !important;
  }
}

.cda-document-tables {
  tbody tr:nth-of-type(2n) {
    background-color: #f0f0f0;
  }
  th {
    background-color: #018DB1;
    font-weight: bold;
    color: red;
  }
  tbody tr td:nth-of-type(1) {
    font-weight: bold;
  }

  @media screen and (max-width: 600px) {
    table {
      width: 100%;
    }
    thead {
      display: none;
    }
    tr:nth-of-type(2n) {
      background-color: inherit;
    }
    tr td:first-child {
      background: #f0f0f0;
      font-weight: bold;
      font-size: 1.3em;
    }
    tbody td {
      display: block;
      text-align: center;
    }
    tbody td:before {
      content: attr(data-th);
      display: block;
      text-align: center;
    }
  }
}
