<c2s-page-title [title]="title"></c2s-page-title>

<div class="margin-bottom-55 margin-top-10" fxLayout="column" fxLayoutAlign="space-around">
  <div fxFlexOffset="8.5">
    <a md-raised-button routerLink="/consent-create-edit" routerLinkActive="active" color="primary">
      Add a Consent</a>
  </div>
  <pagination-controls fxLayoutAlign="center" (pageChange)="getPage($event)" *ngIf="totalItems"></pagination-controls>
  <div fxLayoutAlign="center">
    <md-spinner *ngIf="loading"></md-spinner>
  </div>
  <c2s-consent-card fxFlexFill
                    *ngFor="let consent of consents | async | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }"
                    [consent]="consent">
  </c2s-consent-card>
  <pagination-controls fxLayoutAlign="center" (pageChange)="getPage($event)" *ngIf="totalItems"></pagination-controls>
</div>

