<div class="p-t-75 p-l-md p-r-md p-b">
  <h1 class="">{{ 'CONSENTS.TITLE' | translate }}</h1>
  <div>
    <div style="background-color: #FEB652;font-weight: 500; color: black; font-size: 2em;" class="p-md font-size18 font-weight center-sm-left" *ngIf="consentList.totalElements===0">
      {{ 'CONSENTS.WARNING' | translate }}
    </div>
  </div>

<div class="margin-bottom-55 margin-top-10" fxLayout="column" fxLayoutAlign="space-around">
  <div fxLayout="column">
    <div fxFlexOffset="8.5">
      <a md-raised-button routerLink="/consent-create-edit" color="primary">
        {{ 'CONSENTS.ADD_CONSENT_BUTTON' | translate }}
      </a>
    </div>
  </div>
  <pagination-controls fxLayoutAlign="center"
                       previousLabel="{{ 'CONSENTS.PAGINATION.PREVIOUS' | translate }}"
                       nextLabel="{{ 'CONSENTS.PAGINATION.NEXT' | translate }}"
                       (pageChange)="getPage($event)"
                       *ngIf="totalItems">
  </pagination-controls>
  <div fxLayoutAlign="center">
    <md-spinner *ngIf="loading"></md-spinner>
  </div>
  <c2s-consent-card fxFlexFill
                    *ngFor="let consent of consents | async | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }"
                    [consent]="consent"
                    (deleteConsent)="onDeleteConsent($event)">
  </c2s-consent-card>
  <pagination-controls fxLayoutAlign="center"
                       previousLabel="{{ 'CONSENTS.PAGINATION.PREVIOUS' | translate }}"
                       nextLabel="{{ 'CONSENTS.PAGINATION.NEXT' | translate }}"
                       (pageChange)="getPage($event)"
                       *ngIf="totalItems">
  </pagination-controls>
</div>

</div>
