<c2s-page-title [title]="title"></c2s-page-title>

<md-card>
  <h2 fxLayoutAlign="start">Revocation of Consent to Participate in Health Information Exchange</h2>
  <div fxLayout="column">
    <div fxLayoutAlign="start">Consent Reference Number:</div>
    <div fxLayoutAlign="start">
      <strong>C2S-DEV.UC6AIB:&1.3.6.1.4.1.21367.13.20.200&ISO:1316052640:1023091915:EKKXWW</strong>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex fxLayoutAlign="start">
      <span>Patient Name:</span>
      <span><strong>Sally Share</strong></span>
    </div>
    <div fxFlex>
      <span>Patient DOB:</span>
      <span><strong>01/01/2017</strong></span>
    </div>
  </div>

  <div fxLayout="column">
    <p fxLayout="row">I have previously signed a patient consent form allowing my providers to access my electronic
      health records through the Consent2Share system and now want to revoke that consent. If I sign this form as the
      Patient's Legal Representative, I understand that all references in this form to "me" or "my" refer to the
      Patient.
    </p>
    <p>
      By revoking my Consent, I understand that:

      1. I Deny Consent for all Participants to access my electronic health information through Consent2Share for any
      purpose, EXCEPT in a medical emergency.
      2. Health care provider and health insurers that I am enrolled with will no longer be able to access health
      information about me through Consent2Share, except in an emergency.
      3. The Revocation of Consent will not affect the exchange of my health information while my Consent was in effect.
      4. No Consent2Share participating provider will deny me medical care and my insurance eligibility will not be
      affected based on my Revocation of Consent.
      5. If I wish to reinstate Consent, I may do so by signing and completing a new Patient Consent form and returning
      it to a participating provider or payer.
      6. Revoking my consent does not prevent my health care provider from submitting claims to my health insurer for
      reimbursement for services rendered to me.
      7. I understand that I will get a copy of this form after I sign it.
    </p>
    <div>
      <md2-dialog #confirmRevokeConsentTerms (onClose)="clearCheckbox()">
        <md2-dialog-title>Please Authenticate</md2-dialog-title>
        <div fxLayout="column">
          <p class="dialog-text">Please provide your account password to authenticate, and complete e-signature</p>
          <md-input-container>
            <input mdInput placeholder="Password" [(ngModel)]="password">
          </md-input-container>
          <div *ngIf="inValid" class="authenticate-invalid">Failed to authenticate, please try again...</div>
        </div>
        <md2-dialog-footer>
          <button md-raised-button (click)="confirmRevokeConsentTerms.close()">Cancel</button>
          <button md-raised-button color="primary" (click)="toAuthenticate(confirmRevokeConsentTerms)">Continue</button>
        </md2-dialog-footer>
      </md2-dialog>
      <md-checkbox fxLayoutAlign="start" (click)="confirmRevokeConsentTerms.open()" [(ngModel)]="checked">
        I, Sally Share, hereby accept, and understand the terms of this consent.
      </md-checkbox>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
    <button md-raised-button color="primary" routerLink="/consent-list">
      <strong>Cancel</strong>
    </button>
    <md2-dialog #completeRevokeAttestation>
      <md2-dialog-title>Successfully Revoked Consent</md2-dialog-title>
      <md2-dialog-footer>
        <button md-raised-button color="primary">Download Signed Consent Revocation</button>
        <button md-raised-button color="primary" routerLink="/consent-list">Continue</button>
      </md2-dialog-footer>
    </md2-dialog>
    <button md-raised-button color="primary" [disabled]="!isAuthenticated" (click)="completeRevokeAttestation.open()">
      <strong>Complete</strong>
    </button>
  </div>
</md-card>
