<md-card id="revocation" class="m-t-sm m-l m-r">
  <div class="buffer">
    <h1 class="font-weight600 dark-bluegrey" fxLayoutAlign="start">{{ 'CONSENT_REVOKE.TITLE' | translate }}</h1>
    <div fxLayout="column" fxLayout.gt-xs="row" class="font-size18 p-b-sm">
      <div class="m-r-sm">{{ 'CONSENT_REVOKE.REFERENCE_NUMBER' | translate }}:</div>
      <div>
        <strong>{{consent.consentReferenceId}}</strong>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-xs="row" class="font-size18 p-b-sm">
      <div class="m-r-sm">{{ 'CONSENT_REVOKE.PATIENT_NAME' | translate }}:</div>
      <div><strong>{{userFullName}}</strong></div>
    </div>
    <div fxLayout="column" fxLayout.gt-xs="row" class="font-size18 p-b-sm">
      <div class="m-r-sm">{{ 'CONSENT_REVOKE.PATIENT_DOB' | translate }}:</div>
      <div><strong>{{birthDate | date}}</strong></div>
    </div>

    <div fxLayout="column" class="font-size16">
      <p fxLayout="row" style="white-space: pre-line;">{{consentRevocationTerms}}</p>
      <div class="m-t center">
        <md-checkbox fxLayoutAlign="start" (click)="confirmRevokeConsentTerms.open()" [(ngModel)]="checked">
          {{ 'CONSENT_REVOKE.TERMS' | translate:usernameTranslateParam }}
        </md-checkbox>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
      <button md-raised-button color="primary" (click)="navigateToConsentList()">
        <strong>{{ 'CONSENT_REVOKE.CANCEL_BTN' | translate }}</strong>
      </button>
      <button md-raised-button color="primary" [disabled]="!isAuthenticated"
              (click)="revokeConsent(completeRevokeAttestation)">
        <strong>
          {{ 'CONSENT_REVOKE.COMPLETE_BTN' | translate }}
        </strong>
      </button>
    </div>
  </div>
</md-card>

<md2-dialog #confirmRevokeConsentTerms (onClose)="clearCheckbox()">
  <md2-dialog-title> {{ 'CONSENT_REVOKE.CONFIRM_DIALOG.TITLE' | translate }}</md2-dialog-title>
  <div fxLayout="column">
    <p class="dialog-text">
      {{ 'CONSENT_REVOKE.CONFIRM_DIALOG.CONTENT' | translate }}
    </p>
    <md-input-container>
      <input mdInput type="password" placeholder="Password" [(ngModel)]="password">
    </md-input-container>
    <div *ngIf="inValid" class="authenticate-invalid">
      {{ 'CONSENT_REVOKE.CONFIRM_DIALOG.AUTHENTICATE_MSG' | translate }}
    </div>
  </div>
  <md2-dialog-footer class="bg-lite-gray-f5">
    <button md-raised-button (click)="confirmRevokeConsentTerms.close()">
      {{ 'CONSENT_REVOKE.CONFIRM_DIALOG.CANCEL_BTN' | translate }}
    </button>
    <button md-raised-button color="primary" (click)="toAuthenticate(confirmRevokeConsentTerms)">
      {{ 'CONSENT_REVOKE.CONFIRM_DIALOG.CONTINUE_BTN' | translate }}
    </button>
  </md2-dialog-footer>
</md2-dialog>

<md2-dialog #completeRevokeAttestation (onClose)="navigateToConsentList()">
  <md2-dialog-title>{{ 'CONSENT_REVOKE.COMPLETE_DIALOG.TITLE' | translate }}</md2-dialog-title>
  <md2-dialog-footer class="bg-lite-gray-f5">
    <button md-raised-button color="primary" (click)="downloadRevokedConsent()">
      {{ 'CONSENT_REVOKE.COMPLETE_DIALOG.DOWNLOAD_BTN' | translate }}
    </button>
    <button md-raised-button color="primary" (click)="navigateToConsentList()">
      {{ 'CONSENT_REVOKE.COMPLETE_DIALOG.CONTINUE_BTN' | translate }}
    </button>
  </md2-dialog-footer>
</md2-dialog>
