<md-card class="home-card " [ngClass]="{contacts: headerClass=='contacts', consents: headerClass=='consents'}" (click)="navigateTo(routeUrl)">
  <md-card-header class="middle">
    <md-card-title>
      <div class="m-n">My <span class="font-weight700">{{title}}--{{headerClass}}</span></div>
    </md-card-title>
  </md-card-header>
  <md-card-content class="p-md">
    <button md-fab >
      <md-icon class="md-24 font-weight500">add</md-icon>
    </button>
    <md-chip-list class="p-15">
      <md-chip color="primary" selected="true" class="font-size16">{{step}}</md-chip>
    </md-chip-list>
    <h2 class="m-t-xs">
      {{description}}
    </h2>
    <div class="center middle">
      <img md-card-image [src]="imageUrl" [ngStyle]="{'width': '75%'}">
    </div>
    <div class="p-t-xs font-size12"><span class="font-weight700 font-size16">{{entityCount}}</span>
      {{title}}
    </div>
  </md-card-content>
</md-card>
