.card-title-group {
  width: 50%;
}

.no-bullet {
  list-style: none;
}

.consent-card-header {
  border-radius: 15px;
  border: 2px solid #3f51b5;
  margin: 20px;
  padding: 20px;
}

.consent-card-header:hover {
  background-color: rgba(63, 81, 181, 0.2);
}

md-chip {
  margin: 5px;
}

md-chip span.md-chip-icon-text {
  position: relative;
  bottom: 5px;
  margin: 1px;
}

.block {
  overflow: hidden;
  -webkit-transition: height .5s;
  transition: height .5s;
}
