.consent-card-header {
  margin: 5px;
  padding: 10px;
  background-color: #bcdedb;
}

.consent-card-header:hover {
  background-color: rgba(63, 81, 181, 0.2);
}

.mat-card-actions {
  margin: 10px !important;
}

.transition {
  overflow: hidden;
  -webkit-transition: height .5s;
  transition: height .5s;
}

.margin-20 {
  margin: 20px;
}

.medium-width {
  width: 80%;
}

//<---------------------------- Dialog ----------------------------->
.consent-option-text {
  text-align: left;
  white-space: normal;
  line-height: 18px;
}
// CHECK ABOUT THIS CODE. WILL NOT WORK FROM THIS STYLESHEET. DUPLICATED IN CORE.SCSS
.mat-list-item-content {
  height: auto !important;
  padding: 3px 16px !important;
}

