<md-card>
  <md-card-content>
    <div fxLayout="column">

      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="consent-card-header"
           (click)="toggleDetailsVisible(el)">
        <div fxFlex>
          <h3><strong>Authorized to share:</strong></h3>
          <md-list fxLayoutAlign="center" fxLayout="column">
            <md-list-item *ngFor="let fromProvider of consent.fromProviders">{{fromProvider | abstractProviderName}}
            </md-list-item>
          </md-list>
        </div>

        <div fxFlex>
          <h3><strong>Sharing with:</strong></h3>
          <md-list fxLayoutAlign="center" fxLayout="column">
            <md-list-item *ngFor="let toProvider of consent.toProviders">{{toProvider | abstractProviderName}}
            </md-list-item>
          </md-list>
        </div>

        <div fxFlex>
          <h3><strong>Effective Dates:</strong></h3>
          <md-list fxLayoutAlign="center">
            <md-list-item>{{consent.startDate | date}} - {{consent.endDate | date}}</md-list-item>
          </md-list>
        </div>
      </div>

      <div class="transition" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
           (window:resize)="onResize($event, el)"
           [style.height]="getHeightPx()" #el>
        <div fxFlex *ngIf="hasDoNotShareSensitivityPolicyCodes()">
          <h3><strong>Medical Information NOT disclosed:</strong></h3>
          <md-chip-list>
            <md-chip *ngFor="let shareSensitivityCategory of consent.shareSensitivityCategories"
                     color="accent" selected="true">
              <md-icon>lock</md-icon>
              <span class="md-chip-icon-text">{{shareSensitivityCategory | sensitivityCategory: 'display'}}</span>
            </md-chip>
          </md-chip-list>
        </div>
        <div fxFlex *ngIf="!hasDoNotShareSensitivityPolicyCodes()">
          <h3><strong>Sharing all medical information:</strong></h3>
          <md-chip-list>
            <md-chip color="accent" selected="true">
              <md-icon>check_circle</md-icon>
              <span class="md-chip-icon-text">All my medical information can be shared.</span>
            </md-chip>
          </md-chip-list>
        </div>
        <div fxFlex>
          <h3><strong>Share for following purposes:</strong></h3>
          <md-chip-list>
            <md-chip *ngFor="let sharePurpose of consent.sharePurposes"
                     color="accent" selected="true">
              <md-icon>check_circle</md-icon>
              <span class="md-chip-icon-text">{{sharePurpose | sharePurpose: 'display'}}</span>
            </md-chip>
          </md-chip-list>
        </div>
      </div>
    </div>
  </md-card-content>

  <md-card-actions>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
      <div fxFlex>
        <div>
          <p>Consent State:
            <md-chip color="{{consent.consentStage | consentStage: 'color'}}" selected="true">
              <md-icon>{{consent.consentStage | consentStage: 'icon'}}</md-icon>
              <span class="md-chip-icon-text"><strong>{{consent.consentStage | consentStage: 'text'}}</strong></span>
            </md-chip>
          </p>
        </div>
      </div>
      <div fxFlex>
        <div>
          <button md-raised-button color="primary" (click)="consentOptions.open()">Manage Consents</button>
          <md2-dialog #consentOptions>
            <md2-dialog-title fxLayoutAlign="center">Consent Options</md2-dialog-title>
            <md-list>
              <md-list-item *ngFor="let consentOption of getConsentStageOptions()">
                <div class="margin-20" fxFill>
                  <md2-dialog #confirm (onOpen)="consentOptions.close()">
                    <md2-dialog-title>Delete Consent</md2-dialog-title>
                    Are you sure you want to delete this consent?
                    <md2-dialog-footer>
                      <button md-raised-button color="primary" (click)="confirmDeleteConsent(confirm)">Ok
                      </button>
                      <button md-raised-button (click)="confirm.close()">Cancel</button>
                    </md2-dialog-footer>
                  </md2-dialog>
                  <a fxLayoutAlign="space-between" md-raised-button (click)="invokeAction(consentOption, confirm)"
                     *ngIf="selectConsentMethodOption(consentOption)">
                    <md-icon>{{consentOption.icon}}</md-icon>
                    <span class="margin-20">{{consentOption.text}}</span>
                  </a>
                  <a fxLayoutAlign="space-between" md-raised-button [routerLink]="getRouterLink(consentOption)"
                     *ngIf="!selectConsentMethodOption(consentOption)">
                    <md-icon>{{consentOption.icon}}</md-icon>
                    <span class="margin-20">{{consentOption.text}}</span>
                  </a>
                </div>
              </md-list-item>
            </md-list>
          </md2-dialog>
        </div>
      </div>
    </div>
  </md-card-actions>
</md-card>
