<!--<div>-->
  <!--<img alt="Patient profile photo"-->
       <!--class="img-circle"-->
       <!--src="assets/img/generic-avatar-sm-48.png"/>-->
  <!--<span>Alice Recruit</span>-->
<!--</div>-->

<div fxLayout="row" fxLayoutAlign="start center">
  <div fxflex class="avatar-header p-l"><img alt="Patient profile photo"
       class="img-circle"
       src="assets/img/sally-avatar-sm-48.png"/>
    <span class="font-size18 font-weight300 p-l-xs middle">Alice Recruit</span>
  </div>
  <!--<i class="material-icons">face</i>-->
  <!--<md-icon>home</md-icon>-->
</div>
