<md-card class="left-align">
  <md-card-title>Medical Information</md-card-title>
  <md-card-content>
    <p>Select how you would like to share your medical information.</p>
    <md-radio-group [ngModel]="medicalInformation">
      <p>
        <md-radio-button name="medicalInformation" #medInfoA value="A" (click)="emitSelection(medInfoA.value)"><strong>SHARE</strong> ALL information in my medical record.</md-radio-button>
      </p>
      <p>
        <md-radio-button name="medicalInformation"
                         #medInfoB value="B"
                         (click)="showMedialInformationDialog(medInfoB.value)">
          <strong>SHARE</strong> my medical record <strong>WITH EXCEPTION</strong> of specific information.
          <button type="button" *ngIf="(medicalInformation == 'B')" md-raised-button color="primary" (click)="showMedialInformationDialog(medInfoB.value)">Edit</button>
        </md-radio-button>
      </p>
    </md-radio-group>
  </md-card-content>
</md-card>

<c2s-dialog [visible]="showMedicalInformationDialog">
  <h1><span class="center">Privacy Settings</span></h1>
  <md-card class="left-align">
    <md-card-title>Sensitive Information Categories</md-card-title>
    <md-card-content>
        <h2>Select the medical information that you DO NOT wish to share.</h2>
        <button type="button" md-raised-button color="primary" (click)="selectAll()" >Select All</button>
        <button type="button" md-raised-button color="primary" (click)="deselectAll()" >Deselect All</button>
      <br><br>
      <div><strong>Federal Categories</strong></div>
      <br>
      <div><strong>State Categories </strong></div>
    </md-card-content>
  </md-card>
  <div class="right-align">
    <button type="button" md-raised-button (click)="hideMedicalInformationDialog()">Cancel</button>
    <button type="button" md-raised-button color="primary" (click)="setSelectedMedicalInformation()" >Save changes</button>
  </div>
</c2s-dialog>
