<md-card class="left-align">
  <md-card-title>Medical Information</md-card-title>
  <md-card-content>
    <p>Select how you would like to share your medical information.</p>
    <md-radio-group [ngModel]="isShareAll">
      <div>
        <md-radio-button name="medicalInformation"
                         #medInfoA
                         value="1"
                         (click)="onSelectShareAll(medInfoA.value)">
          <strong>SHARE</strong> ALL information in my medical record.</md-radio-button>
      </div>
      <div>
        <md-radio-button name="medicalInformation"
                         #medInfoB value="0"
                         (click)="onSelectDonotShareAll(medicalInformationDialog, medInfoB.value)">
          <strong>SHARE</strong> my medical record <strong>WITH EXCEPTION</strong> of specific information.
          <button type="button" *ngIf="isShareAll === '0'"
                                md-raised-button
                                color="primary"
                                (click)="onSelectDonotShareAll(medicalInformationDialog,medInfoB.value)">Edit</button>
        </md-radio-button>
      </div>
    </md-radio-group>
    <br>
    <md-chip-list>
        <span *ngFor="let sensitivityPolicy of sensitivityPolicies; let i = index;">
          <md-chip color="primary" selected="true" *ngIf="sensitivityPolicy.checked">{{sensitivityPolicy.displayName}}</md-chip>
        </span>
    </md-chip-list>
  </md-card-content>
</md-card>

<md2-dialog #medicalInformationDialog>
  <md2-dialog-title>Privacy Settings</md2-dialog-title>
  <md-card class="left-align">
    <md-card-title>Sensitive Information Categories</md-card-title>
    <md-card-content>
      <h2>Select the medical information that you DO NOT wish to share.</h2>
      <button type="button" md-raised-button color="primary" (click)="selectAll()" >Select All</button>
      <button type="button" md-raised-button color="primary" (click)="deSelectAll()" >Deselect All</button>
      <br><br>
      <div><strong>Federal Categories</strong></div>
      <div *ngFor="let sensitivityPolicy of sensitivityPolicies; let i = index;">
        <md-checkbox *ngIf="sensitivityPolicy.federal" [(ngModel)]="sensitivityPolicies[i].checked">{{sensitivityPolicy.displayName}}</md-checkbox>
      </div>
      <br>
      <div><strong>State Categories </strong></div>
      <div *ngFor="let sensitivityPolicy of sensitivityPolicies; let i = index;">
        <md-checkbox *ngIf="!sensitivityPolicy.federal" [(ngModel)]="sensitivityPolicies[i].checked">{{sensitivityPolicy.displayName}}</md-checkbox>
      </div>
    </md-card-content>
  </md-card>
  <md2-dialog-footer>
    <button type="button" md-raised-button (click)="closeDialog(medicalInformationDialog)">Cancel</button>
    <button type="button" md-raised-button color="primary" (click)="setSelectedMedicalInformation(medicalInformationDialog)" >Save changes</button>
  </md2-dialog-footer>
</md2-dialog>
