
<md-card class="left-align">
  <md-card-title>{{ 'CONSENT_CREATE_EDIT.CONSENT_TERMS.TITLE' | translate }}</md-card-title>
  <md-card-content>
    <p>{{ 'CONSENT_CREATE_EDIT.CONSENT_TERMS.TEXT' | translate }}</p>
    <table>
      <tr>
        <td>
          <span>{{ 'CONSENT_CREATE_EDIT.CONSENT_TERMS.START_DATE' | translate }}: <md2-datepicker [(ngModel)]="startDate" [min]="today" openOnFocus="true" format="MM/d/y" (change)="onStateDateChanged()"></md2-datepicker></span>
        </td>
        <td>
          <span>{{ 'CONSENT_CREATE_EDIT.CONSENT_TERMS.END_DATE' | translate }}: <md2-datepicker [(ngModel)]="endDate" [min]="today" openOnFocus="true" format="MM/d/y" (change)="onEndDateChanged()"></md2-datepicker></span>
        </td>
      </tr>
      <tr>
        <div *ngIf="startDateHasPast" class="has-error">
          {{ 'CONSENT_CREATE_EDIT.CONSENT_TERMS.ERROR_PAST_START_DATE' | translate }}
        </div>
        <div *ngIf="endDateHasPast" class="has-error">
          {{ 'CONSENT_CREATE_EDIT.CONSENT_TERMS.ERROR_PAST_END_DATE' | translate }}
        </div>
        <div *ngIf="compareDate === true " class="has-error">
          {{ 'CONSENT_CREATE_EDIT.CONSENT_TERMS.ERROR_END_DATE_BEFORE_START' | translate }}
        </div>
      </tr>
    </table>
    </md-card-content>
</md-card>
