
<md-card class="left-align">
  <md-card-title>Consent Terms</md-card-title>
  <md-card-content>
    <p>Enter a start and end date during wich your medical records will be shared.</p>
    <table>
      <tr>
        <td>
          <span>Start Date: <md2-datepicker [(ngModel)]="startDate" [min]="today" openOnFocus="true" format="MM/d/y" (change)="onStateDateChanged()"></md2-datepicker></span>
        </td>
        <td>
          <span>End Date: <md2-datepicker [(ngModel)]="endDate" [min]="today" openOnFocus="true" format="MM/d/y" (change)="onEndDateChanged()"></md2-datepicker></span>
        </td>
      </tr>
      <tr>
        <div *ngIf="startDateHasPast" class="has-error"> Start date should be in the present.</div>
        <div *ngIf="endDateHasPast" class="has-error"> End date should be in the present.</div>
        <div *ngIf="compareDate === true " class="has-error"> Start date should proceed end date.</div>
      </tr>
    </table>
    </md-card-content>
</md-card>
