
<md-card class="left-align" (click)="openDialog(selectProviderDialog)">
  <md-card-header>
    <md-card-title>{{title}}</md-card-title>
  </md-card-header>
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let provider of newlySelectedProviders">
        <strong>{{ provider | consentProvider : 'name'}}</strong>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>


<md2-dialog #selectProviderDialog>
  <md2-dialog-title>{{dialogTitle}}</md2-dialog-title>
  <md-card class="left-align">
    <md-card-title>
      {{ 'CONSENT_CREATE_EDIT.SELECT_PROVIDERS.DIALOG.DESCRIPTION' | translate }}
    </md-card-title>
    <md-card-content class="p-l-sm p-r-sm p-b-md">

      <h3>{{ 'CONSENT_CREATE_EDIT.SELECT_PROVIDERS.DIALOG.IND_PROVIDER_LABEL' | translate }}</h3>

      <md-selection-list #newSelectedProviders >
        <div *ngFor="let provider of providers" >
          <md-list-option [checkboxPosition]="before"
                          *ngIf="provider.providerType === 'PRACTITIONER'"
                          [value]="provider"
                          [disabled]="isSelected(provider?.identifiers[0]?.value)">
            {{provider | consentProvider : 'name'}}
          </md-list-option>
        </div>

      <h3>{{ 'CONSENT_CREATE_EDIT.SELECT_PROVIDERS.DIALOG.ORG_PROVIDER_LABEL' | translate }}</h3>

        <div *ngFor="let provider of providers" >
          <md-list-option [checkboxPosition]="before"
                          *ngIf="provider.providerType === 'ORGANIZATION'"
                          [value]="provider"
                          [disabled]="isSelected(provider?.identifiers[0]?.value)">
            {{provider | consentProvider : 'name'}}
          </md-list-option>
        </div>
      </md-selection-list>
    </md-card-content>
  </md-card>
  <md2-dialog-footer>
    <button type="button" md-raised-button (click)="closeDialog(selectProviderDialog)">
      {{ 'CONSENT_CREATE_EDIT.SELECT_PROVIDERS.DIALOG.CANCEL_BTN' | translate }}
    </button>
    <button type="button" md-raised-button color="primary"
            (click)="onAddSelectedProviders(newSelectedProviders.selectedOptions.selected, selectProviderDialog)" >
      {{ 'CONSENT_CREATE_EDIT.SELECT_PROVIDERS.DIALOG.ADD_BTN' | translate }}
    </button>
  </md2-dialog-footer>
</md2-dialog>
