//padding
.p-t-none {
  padding-top: 0 !important;
}
.p-t-xxs {
  padding-top: 1px;
}
.p-t-xs {
  padding-top: 5px;
}
.p-t-sm {
  padding-top: 10px;
}
.p-t {
  padding-top: 15px;
}
.p-t-md {
  padding-top: 20px;
}
.p-t-lg {
  padding-top: 30px;
}
.p-t-xl {
  padding-top: 40px;
}

.p-b-none {
  padding-bottom: 0 !important;
}
.p-b-xxs {
  padding-bottom: 1px;
}
.p-b-xs {
  padding-bottom: 5px;
}
.p-b-sm {
  padding-bottom: 10px;
}
.p-b {
  padding-bottom: 15px;
}
.p-b-md {
  padding-bottom: 20px;
}
.p-b-lg {
  padding-bottom: 30px;
}
.p-b-xl {
  padding-bottom: 40px;
}

.p-none {
  padding: 0 !important;
}
