<c2s-page-title [title]="title"></c2s-page-title>

<form >
  <md-grid-list cols="1">

    <md-card class="left-align">
      <h1> I, <span > {{profile.name}}</span>, hereby authorize... </h1>
    </md-card>

    <c2s-select-providers [providers]="providers"></c2s-select-providers>

    <c2s-medical-information [sensitivityPolicies] ="sensitivityPolicies"></c2s-medical-information>

    <c2s-purpose-of-use [purposeOfUSes] ="purposeOfUses"></c2s-purpose-of-use>

    <c2s-consent-terms></c2s-consent-terms>

    <md-card class="right-align">
        <button md-raised-button (click)="navigateTo('consent-list')">Cancel</button>
      <!--<button md-raised-button color="primary" type="submit" (click)="submitForm()" >Save</button>-->
        <button md-raised-button color="primary" type="submit" (click)="submitForm()" [disabled]="canSave()">Save</button>
    </md-card>

  </md-grid-list>
  <br>
</form>
