<div class="p-t-md p-b-md p-l-lg p-r-lg">
  <div class="font-size20" style="color: #266357;"><strong>Create your Password</strong></div>
</div>
<div style="background-color: #BCDEDB;" class="p-md font-size18 font-weight">
  Please create a Password for your account.
  <strong>The email address you provided to begin this enrollment is your Username.</strong>
  Remember your Username and Password. You will need them to log in to your account.
</div>

<form fxFlex [formGroup]="accountActivationFrom" class="account-activation-from" novalidate>
  <md-input-container class="full-width font-size20">
    <input class="font-size15" mdInput placeholder="Username" [value]="username" disabled>
  </md-input-container>
  <md-input-container class="full-width font-size20">
    <input type="password" class="font-size15" mdInput placeholder="Password"
           formControlName="password">
  </md-input-container>
  <md-input-container class="full-width font-size20">
    <input type="password" class="font-size15" mdInput placeholder="Re-enter Password"
           formControlName="confirmPassword">
  </md-input-container>
  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px">
    <button md-raised-button color="primary" [disabled]="accountActivationFrom.pristine" (click)="clear()">
      <strong>Clear</strong>
    </button>
    <button md-raised-button color="primary" [disabled]="accountActivationFrom.invalid" (click)="activate()">
      <strong>Submit</strong>
    </button>
  </div>
</form>

