<md-card>
  <h2 fxLayoutAlign="start">Search Providers</h2>
  <hr>
  <div class="containerX">
    <div fxLayout="column" fxLayoutAlign="start">
      <form [formGroup]="searchProviderFrom" novalidate>
        <md2-accordion multiple="false" (open)="resetAccordionTab()">
          <md2-accordion-tab [active]="accordionTab">
            <md2-accordion-header>
              <md-card-title align="start">Search</md-card-title>
            </md2-accordion-header>
            <md-card-content>
              <md-toolbar color="primary">
                Step 1. Please enter the provider State and City OR Zip Code.
              </md-toolbar>
              <div fxLayout="row">
                <div fxFlex="27">
                  <div fxLayout="column">
                    <h3 fxLayoutAlign="left">Enter State and City</h3>
                    <div fxLayout="column" formGroupName="stateCity">
                      <md-select placeholder="Please Select State" formControlName="state">
                        <md-option *ngFor="let state of states" [value]="state.stateCode">
                          {{ state.stateValue }}
                        </md-option>
                      </md-select>
                      <md-input-container *ngIf="searchProviderFrom.get('stateCity.state').value">
                        <input mdInput placeholder="City" formControlName="city"/>
                      </md-input-container>
                    </div>
                  </div>
                </div>
                <div fxFlex><h3>OR</h3></div>
                <div fxFlex="27">
                  <div fxLayout="column">
                    <h3 fxLayoutAlign="left">Enter Zip Code</h3>
                    <md-input-container>
                      <input mdInput placeholder="Enter Zip Code" formControlName="zip"/>
                    </md-input-container>
                  </div>
                </div>
              </div>
              <md-toolbar color="primary">
                Step 2. Please enter the provider Facility Name OR Provider Name and Other Criteria.
              </md-toolbar>
              <div fxLayout="row">
                <div fxFlex="27">
                  <div fxLayout="column">
                    <h3 fxLayoutAlign="left">Enter Provider Name and Other Criteria</h3>
                    <div fxLayout="column" formGroupName="individualProvider">
                      <md-input-container>
                        <input mdInput placeholder="Last Name" formControlName="lastName"/>
                      </md-input-container>
                      <div fxLayout="column" *ngIf="searchProviderFrom.get('individualProvider.lastName').value">
                        <md-input-container>
                          <input mdInput placeholder="First Name" formControlName="firstName">
                        </md-input-container>
                        <md-input-container>
                          <input mdInput placeholder="Telephone" formControlName="telephone">
                        </md-input-container>
                        <md-select placeholder="Please Select" formControlName="gender">
                          <md-option *ngFor="let gender of genderGroup" [value]="gender.genderCode">
                            {{ gender.genderValue }}
                          </md-option>
                        </md-select>
                      </div>
                    </div>
                  </div>
                </div>
                <div fxFlex><h3>OR</h3></div>
                <div fxFlex="27">
                  <div fxLayout="column">
                    <h3 fxLayoutAlign="left">Facility Name</h3>
                    <md-input-container>
                      <input mdInput placeholder="Facility Name" formControlName="facilityName">
                    </md-input-container>
                  </div>
                </div>
              </div>
            </md-card-content>
            <div fxLayout="row">
              <div fxLayoutAlign="left" fxLayoutGap="20px">
                <button md-raised-button color="primary" (click)="reset()">Clear All</button>
                <button md-raised-button color="primary" (click)="searchProviders()">Search
                </button>
              </div>
            </div>
          </md2-accordion-tab>
        </md2-accordion>
      </form>
      <div [hidden]="!hasSearchResult" [ngStyle]="{'padding-top': '30px'}">
        <c2s-provider-search-result [providerResult]="searchResponse"></c2s-provider-search-result>
      </div>
    </div>
  </div>
</md-card>
