<md-card xmlns="http://www.w3.org/1999/html">
  <h2 fxLayoutAlign="start">Search Providers</h2>
  <hr>
  <div class="containerX">
    <div fxLayout="column" fxLayoutAlign="start">
      <form [formGroup]="searchProviderFrom" novalidate>
        <md2-accordion multiple="false" (open)="resetAccordionTab()">
          <md2-accordion-tab [active]="accordionTab">
            <md2-accordion-header>
              <md-card-title align="start">Search</md-card-title>
            </md2-accordion-header>
            <md-card-content>
              <md-toolbar color="primary">
                Step 1. Please enter the provider State and City OR Zip Code.
              </md-toolbar>
              <div formGroupName="locatingType" [ngStyle]="{'padding-top': '20px'}">
                <div fxLayout="row">
                  <div fxFlex="45">
                    <button fxLayoutAlign="center" class="toggle toggle-block"
                            (click)="setLocatingType(LOCATING_TYPE.STATE_CITY)"
                            [class.toggle-default]="!isStateCityType()"
                            [class.toggle-primary]="isStateCityType()">
                      <strong>Enter State and City</strong>
                    </button>
                  </div>
                  <div fxFlex><h3>OR</h3></div>
                  <div fxFlex="45">
                    <button fxLayoutAlign="center" class="toggle toggle-block"
                            (click)="setLocatingType(LOCATING_TYPE.ZIP)"
                            [class.toggle-default]="isStateCityType()"
                            [class.toggle-primary]="!isStateCityType()">
                      <strong>Enter Zip Code</strong>
                    </button>
                  </div>
                </div>
                <div class="panel margin-20" *ngIf="isStateCityType()">
                  <div class="panel-body" [ngStyle]="{'padding-top': '20px', 'padding-bottom': '10px'}">
                    <div fxLayout="column">
                      <div fxLayout="column" formGroupName="stateCity">
                        <md-select placeholder="Please Select State" formControlName="state"
                                   class="margin-left-15 margin-right-15">
                          <md-option *ngFor="let state of states" [value]="state.stateCode" fxLayoutAlign="left">
                            {{ state.stateValue }}
                          </md-option>
                        </md-select>
                        <div fxLayoutAlign="left"
                             *ngIf="showLocatingTypeRequiredError('state')"
                             class="form-invalid">
                          State is required.
                        </div>
                      </div>
                      <div fxLayout="column" formGroupName="stateCity">
                        <md-input-container class="margin-left-15 margin-right-15">
                          <input mdInput placeholder="City (Required)" formControlName="city">
                        </md-input-container>
                        <div fxLayoutAlign="left"
                             *ngIf="showLocatingTypeLimitLengthError('city')"
                             class="form-invalid">
                          Must be at least 2 characters long.
                        </div>
                        <div fxLayoutAlign="left"
                             *ngIf="showLocatingTypeRequiredError('city')"
                             class="form-invalid">
                          City is required.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel margin-20" *ngIf="!isStateCityType()">
                  <div class="panel-body" [ngStyle]="{'padding-top': '20px', 'padding-bottom': '10px'}">
                    <div fxLayout="column" formGroupName="zip">
                      <md-input-container class="margin-left-15 margin-right-15">
                        <input mdInput placeholder="Zip Code (Required)" formControlName="zipCode">
                      </md-input-container>
                      <div fxLayoutAlign="left"
                           *ngIf="showLocatingTypePatternError('zipCode')"
                           class="form-invalid">
                        Must be with formats: 12345 or 12345-6789.
                      </div>
                      <div fxLayoutAlign="left"
                           *ngIf="showLocatingTypeRequiredError('zipCode')"
                           class="form-invalid">
                        Zip code is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <md-toolbar color="primary">
                Step 2. Please enter the provider Facility Name OR Provider Name and Other Criteria.
              </md-toolbar>
              <div formGroupName="providerType" [ngStyle]="{'padding-top': '20px', 'padding-bottom': '20px'}">
                <div fxLayout="row">
                  <div fxFlex="45">
                    <button fxLayoutAlign="center" class="toggle toggle-block"
                            (click)="setProviderType(PROVIDER_TYPE.INDIVIDUAL)"
                            [class.toggle-default]="!isIndividualProviderType()"
                            [class.toggle-primary]="isIndividualProviderType()">
                      <strong>Enter Provider Name and Other Criteria</strong>
                    </button>
                  </div>
                  <div fxFlex><h3>OR</h3></div>
                  <div fxFlex="45">
                    <button fxLayoutAlign="center" class="toggle toggle-block"
                            (click)="setProviderType(PROVIDER_TYPE.ORGANIZATION)"
                            [class.toggle-default]="isIndividualProviderType()"
                            [class.toggle-primary]="!isIndividualProviderType()">
                      <strong>Facility Name</strong>
                    </button>
                  </div>
                </div>
                <div class="panel margin-20" *ngIf="isIndividualProviderType()">
                  <div class="panel-body">
                    <div fxLayout="row" fxLayoutGap="20px">
                      <div fxLayout="column" fxFlex="45" formGroupName="individual">
                        <md-input-container class="margin-left-15">
                          <input mdInput placeholder="Last Name (Required)" formControlName="lastName"/>
                        </md-input-container>
                        <div fxLayoutAlign="left"
                             *ngIf="showProviderTypeLimitLengthError('lastName')"
                             class="form-invalid">
                          Must be at least 2 characters long.
                        </div>
                        <div fxLayoutAlign="left"
                             *ngIf="showProviderTypeRequiredError('lastName')"
                             class="form-invalid">
                          Last Name is required.
                        </div>
                      </div>
                      <div fxFlex></div>
                      <div fxLayout="column" fxFlex="45" formGroupName="individual">
                        <md-input-container class="margin-right-15">
                          <input mdInput placeholder="First Name (Optional)" formControlName="firstName">
                        </md-input-container>
                        <div fxLayoutAlign="left"
                             *ngIf="showProviderTypeLimitLengthError('firstName')"
                             class="form-invalid">
                          Must be at least 2 characters long.
                        </div>
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px">
                      <div fxLayout="column" fxFlex="45" formGroupName="individual">
                        <md-input-container class="margin-left-15">
                          <input mdInput placeholder="Telephone (Optional)" formControlName="phone">
                        </md-input-container>
                        <div fxLayoutAlign="left" fxLayout="row"
                             *ngIf="showProviderTypePatternError('phone')"
                             class="form-invalid">
                          Must be with formats: 123-456-7890 (123)456-7890 1234567890 123.456.7890.
                        </div>
                      </div>
                      <div fxFlex></div>
                      <div fxLayout="column" fxFlex="45" formGroupName="individual">
                        <md-select placeholder="Gender (Optional)" formControlName="genderCode"
                                   class="margin-right-15">
                          <md-option *ngFor="let gender of genderGroup" [value]="gender.genderCode">
                            {{ gender.genderValue }}
                          </md-option>
                        </md-select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel margin-20"
                     *ngIf="!isIndividualProviderType()">
                  <div class="panel-body">
                    <div fxLayout="column" formGroupName="organization">
                      <md-input-container class="margin-left-15 margin-right-15">
                        <input mdInput placeholder="Facility Name (Required)" formControlName="orgName"/>
                      </md-input-container>
                      <div fxLayoutAlign="left"
                           *ngIf="showProviderTypeLimitLengthError('orgName')"
                           class="form-invalid">
                        Must be at least 2 characters long.
                      </div>
                      <div fxLayoutAlign="left"
                           *ngIf="showProviderTypeRequiredError('orgName')"
                           class="form-invalid">
                        Facility Name is required.
                      </div>
                    </div>
                    <div fxLayout="column" formGroupName="organization">
                      <md-input-container class="margin-left-15 margin-right-15">
                        <input mdInput placeholder="Telephone (Optional)" formControlName="phone">
                      </md-input-container>
                      <div fxLayoutAlign="left"
                           *ngIf="showProviderTypePatternError('phone')"
                           class="form-invalid">
                        Must be with formats: 123-456-7890 (123)456-7890 1234567890 123.456.7890.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </md-card-content>
            <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
              <button md-raised-button color="primary" (click)="clearForm()" [disabled]="searchProviderFrom.pristine">
                <strong>Clear All</strong>
              </button>
              <button md-raised-button color="primary" (click)="searchProviders()"
                      [disabled]="searchProviderFrom.invalid"><strong>Search</strong>
              </button>
            </div>
          </md2-accordion-tab>
        </md2-accordion>
      </form>
      <div [hidden]="!hasSearchResult" [ngStyle]="{'padding-top': '30px'}">
        <c2s-provider-search-result [providerResult]="searchResponse"></c2s-provider-search-result>
      </div>
    </div>
  </div>
</md-card>
