<div class="p-t-md p-b-md p-l-lg p-r-lg">
  <div class="font-size20" style="color: #266357;"><strong>{{ 'ACCOUNT_VERIFICATION.TITLE' | translate }}</strong></div>
</div>

<div style="background-color: #BCDEDB;" class="p-md font-size18 font-weight center-sm-left">
  <span [innerHTML]="'ACCOUNT_VERIFICATION.NOTIFICATION' | translate"></span>
</div>

<form fxFlex [formGroup]="accountVerificationFrom" class="account-verification-form" novalidate>
  <md2-datepicker class="full-width font-size20" placeholder="{{ 'ACCOUNT_VERIFICATION.DOB' | translate }}"
                  [format]="FORMAT" [max]="today" openOnFocus="true"
                  formControlName="birthDate"></md2-datepicker>
  <br><br>
  <md-input-container class="full-width font-size20">
    <input class="font-size15" mdInput placeholder="{{ 'ACCOUNT_VERIFICATION.VERIFICATION_CODE' | translate }}"
           formControlName="verificationCode">
  </md-input-container>
  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px">
    <button md-raised-button color="primary" [disabled]="accountVerificationFrom.pristine" (click)="clear()">
      <strong>{{'ACCOUNT_VERIFICATION.CLEAR_BTN' | translate}}</strong>
    </button>
    <button md-raised-button color="primary" [disabled]="accountVerificationFrom.invalid" (click)="verify()">
      <strong>{{'ACCOUNT_VERIFICATION.CONTINUE_BTN' | translate}}</strong>
    </button>
  </div>
</form>
