<md-card class="left-align">
  <md-card-title>{{ 'CONSENT_CREATE_EDIT.PURPOSE_OF_USE.TITLE' | translate }}</md-card-title>
  <md-card-content>
    <p>{{ 'CONSENT_CREATE_EDIT.PURPOSE_OF_USE.DESCRIPTION' | translate }}</p>
    <span [innerHTML]="'CONSENT_CREATE_EDIT.PURPOSE_OF_USE.SHARE_TEXT' | translate"></span>
    <button md-raised-button color="primary" (click)="openDialog(purposeOfUseDialog)">{{ 'CONSENT_CREATE_EDIT.PURPOSE_OF_USE.EDIT_BTN' | translate }}</button>
    <div>
      <md-chip-list>
        <span *ngFor="let purposeOfuse of checkedPurposeOfUses; let i = index;">
          <md-chip color="primary" selected="true" *ngIf="purposeOfuse">{{purposeOfuse}}</md-chip>
        </span>
      </md-chip-list>
    </div>
  </md-card-content>
</md-card>

<md2-dialog #purposeOfUseDialog>
  <md2-dialog-title>{{ 'CONSENT_CREATE_EDIT.PURPOSE_OF_USE.DIALOG.TITLE' | translate }}</md2-dialog-title>
  <md-card class="left-align">
    <md-card-title>{{ 'CONSENT_CREATE_EDIT.PURPOSE_OF_USE.DIALOG.DESCRIPTION' | translate }}</md-card-title>
    <md-card-content>
      <button type="button" md-raised-button color="primary" (click)="selectAll()" >
        {{ 'CONSENT_CREATE_EDIT.PURPOSE_OF_USE.DIALOG.SELECT_BTN' | translate }}
      </button>
      <button type="button" md-raised-button color="primary" (click)="deSelectAll()" >
        {{ 'CONSENT_CREATE_EDIT.PURPOSE_OF_USE.DIALOG.DESELECT_BTN' | translate }}
      </button>
      <br><br>
        <div *ngFor="let purposeOfuse of purposeOfUSes; let i = index;">
          <md-checkbox [(ngModel)]="purposeOfUSes[i].checked">
            {{purposeOfuse.display}}
            <md-icon tooltip="{{purposeOfuse.description}}"
                     tooltip-positionh="below"
                     tooltip-delay="100">info</md-icon>
          </md-checkbox>
        </div>
    </md-card-content>
  </md-card>
  <md2-dialog-footer>
    <button type="button" md-raised-button (click)="closeDialog(purposeOfUseDialog)">
      {{ 'CONSENT_CREATE_EDIT.PURPOSE_OF_USE.DIALOG.CANCEL_BTN' | translate }}
    </button>
    <button type="button" md-raised-button color="primary" (click)="setSelectedPurposesOfUse(purposeOfUseDialog)" >
      {{ 'CONSENT_CREATE_EDIT.PURPOSE_OF_USE.DIALOG.SAVE_BTN' | translate }}
    </button>
  </md2-dialog-footer>
</md2-dialog>
