<md-card class="left-align">
  <md-card-title>Purpose Of Use</md-card-title>
  <md-card-content>
    <p>Choose for what purposes your medical information may be used.</p>
    <span><strong>SHARE</strong> my medical record ONLY for the selected purposes of use.</span>
    <button md-raised-button color="primary" (click)="openDialog(purposeOfUseDialog)">Edit</button>
    <div>
      <md-chip-list>
        <span *ngFor="let purposeOfuse of checkedPurposeOfUses; let i = index;">
          <md-chip color="primary" selected="true" *ngIf="purposeOfuse">{{purposeOfuse}}</md-chip>
        </span>
      </md-chip-list>
    </div>
  </md-card-content>
</md-card>

<md2-dialog #purposeOfUseDialog>
  <md2-dialog-title>Share for selected purpose only</md2-dialog-title>
  <md-card class="left-align">
    <md-card-title>Share my information only for specified purposes of use.</md-card-title>
    <md-card-content>
      <button type="button" md-raised-button color="primary" (click)="selectAll()" >Select All</button>
      <button type="button" md-raised-button color="primary" (click)="deSelectAll()" >Deselect All</button>
      <br><br>
        <div *ngFor="let purposeOfuse of purposeOfUSes; let i = index;">
          <md-checkbox [(ngModel)]="purposeOfUSes[i].checked">
            {{purposeOfuse.display}}
            <md-icon tooltip="{{purposeOfuse.description}}"
                     tooltip-positionh="below"
                     tooltip-delay="100">info</md-icon>
          </md-checkbox>
        </div>
    </md-card-content>
  </md-card>
  <md2-dialog-footer>
    <button type="button" md-raised-button (click)="closeDialog(purposeOfUseDialog)">Cancel</button>
    <button type="button" md-raised-button color="primary" (click)="setSelectedPurposesOfUse(purposeOfUseDialog)" >Save changes</button>
  </md2-dialog-footer>
</md2-dialog>
