
<form [formGroup]="loginForm" class="login-form"  novalidate >

  <h1 class="center">C2S-UI</h1>

  <h2>Log in with your account</h2>

  <md-input-container class="full-width" >
    <input mdInput placeholder="User name" type="email"
           name="username"
           required
           [formControl]="loginForm.controls['username']"
    >
    <c2s-control-messages [control]="loginForm.controls.username"></c2s-control-messages>

  </md-input-container>

  <md-input-container class="full-width" >
      <input mdInput placeholder="Password"
             name="password"
             required
             [formControl]="loginForm.controls['password']"
      >
    <c2s-control-messages [control]="loginForm.controls.password"></c2s-control-messages>
    <md-hint class="has-error" *ngIf="showLoginBackendError">
      Sorry, you do not have permission to access this site.
    </md-hint>
  </md-input-container>
  <br><br>
  <div>
    <button type="button"
            type="submit"
            [disabled]="!isValidForm(loginForm)"
            md-raised-button color="primary"
            (click)="login(loginForm.value)">Login</button>
  </div>
</form>


