<md-card>

  <div class="table-head">
    <md-grid-list cols="4" rowHeight="30px">
      <md-grid-tile [ngStyle]="{'background-color': 'lightgray'}">
        <md-icon>mode_edit</md-icon>
      </md-grid-tile>
      <md-grid-tile colspan="3" [ngStyle]="{'background-color': 'lightgray'}">Name/Facility</md-grid-tile>
    </md-grid-list>
  </div>
  <table>
    <tbody>
    <tr [hidden]="!(providers.length == 0)">
      <td width="92px"></td>
      <td width="279px">
        <p>No Providers currently selected.</p>
      </td>
    </tr>
    <tr *ngFor="let provider of providers">
      <td width="92px">
        <button md-icon-button color="warn"
                (click)="confirmDeleteProvider(provider)">
          <md-icon>delete_forever</md-icon>
        </button>
      </td>
      <td width="279px">
        <span>{{provider | providerName}}</span>
      </td>
    </tr>
    </tbody>
  </table>
  <div fxLayout="row" fxLayoutAlign="left">
    <button md-raised-button color="primary" [disabled]="(providers.length==0)"
            (click)="confirmAddProviders(providers)">Add to Provider List
    </button>
  </div>
</md-card>
