<md-card>

  <div class="table-head">
    <md-grid-list cols="4" rowHeight="30px" >
      <md-grid-tile
        *ngFor="let tHead of tHeads"
        [colspan]="tHead.cols"
        [style.background]="tHead.color">
        {{tHead.text}}
      </md-grid-tile>
    </md-grid-list>
  </div>
  <table>
    <tbody>
    <tr>
      <td width="92px">
        <button md-icon-button color="warn">
          <md-icon>delete_forever</md-icon>
        </button>
      </td>
      <td width="279px">
        <span>No Providers currently selected.</span>
      </td>
    </tr>
    </tbody>
  </table>
</md-card>
