<!--<c2s-page-title title="Home" [isHidden]="true"></c2s-page-title>-->

<div class="p-t-75 p-l-lg p-b-md p-r-lg">
  <div class="center-sm-left">
    <h1 class="m-n p-t-sm">{{ 'HOME.WELCOME.TITLE' | translate }}</h1>
    <h2 class="m-t-sm m-t-sm">{{ 'HOME.WELCOME.DESCRIPTION' | translate }}</h2>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap="wrap" fxLayoutGap="15px" fxLayoutAlign="center">
    <div *ngFor="let homeCard of homeCards; let i = index; ">
      <c2s-home-card
          [routeUrl]="homeCard.routeUrl"
          [imageUrl]="homeCard.imageUrl"
          [title]="homeCard.title"
          [step]="homeCard.step"
          [description]="homeCard.description"
          [entityCount]="homeCard.entityCount"
          [headerClass]="homeCard.headerClass"
          (click)= onClick(homeCard.headerClass,confirmDialog)>
      </c2s-home-card>
    </div>
  </div>
</div>

<md2-dialog #confirmDialog>
  <md2-dialog-title>Add Providers Alert</md2-dialog-title>
    <h2 class="m-t-xs">
      To create consents, you must first add the people with whom you trust to share health information.
    </h2>
  <md2-dialog-footer>
    <button md-raised-button (click)="confirmDialog.close()">Cancel</button>
  </md2-dialog-footer>
</md2-dialog>
