<div class="p-t-md p-b-md p-l-lg p-r-lg">
  <div class="font-size20" style="color: #266357;"><strong>{{'ACCOUNT_ACTIVATION_ERROR.TITLE' | translate}}</strong></div>
</div>
<div style="background-color: #BCDEDB;" class="p-md font-size18 font-weight">
  <span [innerHTML]="'ACCOUNT_ACTIVATION_ERROR.NOTIFICATION' | translate"></span>
</div>
<p class="font-size16">
  {{'ACCOUNT_ACTIVATION_ERROR.NOTIFICATION_FOR_BUTTON' | translate}}
</p>
<br><br>
<button md-raised-button color="primary" (click)="navigateTo()">
  <strong>{{'ACCOUNT_ACTIVATION_ERROR.CONTINUE_LOGIN_BTN' | translate}}</strong>
</button>
