<div class="p-t-md p-b-md p-l-lg p-r-lg">
  <div class="font-size20" style="color: #266357;"><strong>Account Activation Failed!</strong></div>
</div>
<div style="background-color: #BCDEDB;" class="p-md font-size18 font-weight">
  <strong>Whoops!</strong>
  An error occurred during account activation. Please contact for a new Verification Code.
</div>
<p class="font-size16">
  Please click the button below for more information about Consent2Share available on the C2S Login Page
</p>
<br><br>
<button md-raised-button color="primary" (click)="navigateTo()">
  <strong>Continue to Login Page</strong>
</button>
