<div class="p-t-md p-b-md p-l-lg p-r-lg">
  <div class="font-size20" style="color: #266357;"><strong>Account Activation Complete!</strong></div>
</div>
<div style="background-color: #BCDEDB;" class="p-md font-size18 font-weight center-sm-left">
  <strong>Congratulations!
    <span>{{userFullName}}</span>
  </strong>
  You have successfully created your <strong>{{brandName}}</strong> password. Click
  on the button below to log in to your account.
</div>
<br><br>
<button md-raised-button color="primary" (click)="navigateTo()">
  <strong>Continue to Login Page</strong>
</button>
