<h2>List Providers</h2>
<md-card>
  <md-toolbar>Let's get started! You are required to have at least 2 Providers to create a Consent.</md-toolbar>
  <md-card-actions align="start">
    <a md-raised-button routerLink="/provider-search" routerLinkActive="active" color="primary">
      Add a Health Provider</a>
  </md-card-actions>
  <md2-accordion>
    <md2-accordion-tab [active]="accordionTab">
      <md2-accordion-header>
        <md-card-title align="start">Current Healthcare Providers</md-card-title>
      </md2-accordion-header>
      <div>
        <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
      </div>
      <md-card-content>
        <div>
          <table [md2Data]="providers" [rowsPerPage]="10">
            <thead>
            <tr>
              <th style="width: 5%"><md-icon>mode_edit</md-icon></th>
              <th style="width: 25%" md2SortBy="orgName">Name/Facility</th>
              <th style="width: 12%" md2SortBy="npi">NPI</th>
              <th style="width: 13%">Contact Number</th>
              <th style="width: 45%">Address</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let provider of providers | paginate: paginationConfig">
              <td>
                <button md-icon-button color="warn" [disabled]="!provider.deletable"
                        (click)="confirmDeleteProvider(provider)">
                  <md-icon>delete_forever</md-icon>
                </button>
              </td>
              <td>{{provider.orgName}}</td>
              <td>{{provider.npi}}</td>
              <td>{{provider.practiceLocationAddressTelephoneNumber | usPhoneNumber}}</td>
              <td>{{provider | providerAddress}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div>
          <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
        </div>
      </md-card-content>
    </md2-accordion-tab>
  </md2-accordion>
</md-card>
